#wrapper {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #wrapper-inner {
    vertical-align:middle;
    width:100%;
    height:100%;
  }
  
  #scroll-down {
      display: block;
      position: relative;
      padding-top: 79px;
    text-align:center;
  }
  .arrow-down {
      display: block;
      margin: 0 auto;
      width: 10px;
      height: 38px;
  }
  .arrow-down:after {
      content: '';
      display: block;
      margin: 0;
      padding: 0;
      width: 8px;
      height: 8px;
      border-top: 2px solid #802632;
      border-right: 2px solid #802632;
      behavior: url(-ms-transform.htc);
      -moz-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  }
  #scroll-title {
      display: block;
      text-transform: uppercase;
      color: #802632;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size:14px;
    font-weight:bold;
    letter-spacing:.1em;
  }
  // #scroll-down::before {
  //     -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  //     /* Safari 4+ */
      
  //     -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  //     /* Fx 5+ */
      
  //     -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  //     /* Opera 12+ */
      
  //     animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  //     /* IE 10+, Fx 29+ */
      
  //     position: absolute;
  //     top: 0px;
  //     left: 50%;
  //     margin-left: -1px;
  //     width: 2px;
  //     height: 90px;
  //     background: #802632;
  //     content: ' ';
  // }