
.gallery-container {
    min-height: 256px;
    .gallery-list {
        display: flex;
        gap: 5px;
        padding-inline: 3rem;
        min-height: 100%;
        height: 35vh;
        padding-top: 2rem;
        li {
            opacity: 0; 
            filter: blur(20px);
        }
    }
}
