
header {
	padding-inline: 3rem;
}

.title-container {
	display: flex;
	flex-direction: column;
	gap: 0;
	span {
		font-family: 'SteepOldstyle';
		font-weight: 600;
		font-style: normal;
		font-size: 55px;
		text-transform: uppercase;
		letter-spacing: -1px;
		line-height: .75;
		&:nth-child(2) {
			padding-inline-start: 1.75rem;
		}
	}
}