.landing-sect {
  transition: opacity 0.8s ease;
  opacity: 1;
  span {
    cursor: default;
    opacity: 1;
    transition: opacity 0.2s;
  }

  .title {
    font-family: "M PLUS Code Latin";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.3em;
    top: 13%;
    text-transform: uppercase;
    font-size: 50pt;
    background-color: transparent;
    color: #008ac0;
    text-shadow: 2px 0 2px rgba(116, 116, 116, 0.8);
    filter: hue-rotate(100);
    z-index: 999;
    z-index: 5;
    font-weight: 700;
    word-break: break-all;

    .highlight {
      letter-spacing: 0.3em;
      color: #1d134b;
      letter-spacing: 0.5em;
      margin-inline-start: 1.5rem;
    }

    .sub {
      font-size: .8rem;
      font-family: 'Laila';
      letter-spacing: .5rem;
      color: #000;
      position: relative;
      bottom: 40px;
      text-shadow: 0 0 #fff;
    }

    @media (max-width: 600px) {
      font-size: 40pt;
    }
  }

  .tag-box {
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    bottom: 22%;
    z-index: 99;
    color: #1d134b;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;

    span {
      font-size: 20px;
      font-weight: 400;
      .emphasis {
        color: rgb(0, 53, 88);
        margin-inline: 7px;
        font-weight: 700;
      }
    }
  }

  &.shutter {
    .tag-box {
      span {
        opacity: 0;
        pointer-events: none;
    }
    z-index: 0;
    }

    .title {
        opacity: 0;
    }
  }

  .show {
    opacity: 1;
  }
}
