.landing-sect {
  transition: opacity 0.8s ease;
  opacity: 1;
  span {
    cursor: default;
    opacity: 1;
    transition: opacity 0.2s;
  }

  .title {
    font-family: "M PLUS Code Latin";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.3em;
    top: 25%;
    text-transform: uppercase;
    font-size: 66pt;
    background-color: transparent;
    color: #b6d6e2;
    text-shadow: 2px 0 2px rgba(116, 116, 116, 0.8);
    z-index: 999;
    z-index: 5;
    font-weight: 700;
    word-break: break-all;
    mix-blend-mode: exclusion;

    .highlight {
      letter-spacing: 0.3em;
      letter-spacing: 0.5em;
      margin-inline-start: 1.5rem;
    }

    .sub {
      font-size: 0.8rem;
      font-family: "Laila";
      letter-spacing: 0.5rem;
      color: #d4d4d4;
      position: relative;
      bottom: 40px;
      @media (max-width: 400px) {
        font-size: 0.5rem;
        bottom: 25px;
      }
    }

    @media (max-width: 600px) {
      font-size: 40pt;
    }

    @media (max-width: 400px) {
      font-size: 25pt;
    }
  }

  .tag-box {
    font-family: "Raleway";
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    bottom: 20%;
    z-index: 99;
    color: #1d134b;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;

    span {
      font-size: 20px;
      font-weight: 400;
      .emphasis {
        color: rgb(0, 53, 88);
        margin-inline: 7px;
        font-weight: 700;
      }
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  &.shutter {
    .tag-box {
      span {
        opacity: 0;
        pointer-events: none;
      }
      z-index: 0;
    }

    .title {
      opacity: 0;
    }
  }

  .show {
    opacity: 1;
  }
}

strong {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;

    // Position the line behind the text so that
    // it is still easily readable
    z-index: -1;

    // The SVG is added as an SVG background image
    background-image: url("/src/assets/underline.svg");
    background-repeat: no-repeat;

    // This allows the SVG to flex in size to fit
    // any length of word. If the word is short,
    // the SVG will be stretched vertically, if it
    // is long, the SVG will be stretched horizontally.
    // The jagged nature of this particular SVG works
    // with this transforming.
    background-size: cover;
  }
}
