* {
  box-sizing: border-box;
}

html,
body {
  color: $c-text;
  background-color: $c-bg;
  transition: color 0.2s, background-color 0.2s;
  // Disable default cusor pointer
  // cursor: none;
  overscroll-behavior: none;
  overflow-y: hidden;
  font-family: $font-family-serif;
  font-size: $text-base;
  line-height: $base-line-hight;
  -webkit-font-smoothing: antialiased;
  margin: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}



[data-tooltip] {
  &:after {
    font-size: 15px;
    font-family: $font-family-sans;
  }
}

*:hover {
  cursor: none !important;
}

.root,
.app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
button,
a,
p,
ul,
li {
  all: unset;
}
