* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    overflow: hidden;
    font-family: "Raleway";
  }
  
  .app-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  a {
   all: unset;
  }