* {
    box-sizing: border-box;

    &::-webkit-scrollbar {
      width: 0;
  }
  
  &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: transparent;
      border: 1px solid transparent;
  }
  
  &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: transparent;
  }

  }
  
  html, body {
    margin: 0;
    overflow: hidden;
    font-family: "Raleway";
    
  }
  
  .app-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  a {
   all: unset;
  }

 