@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'SteepOldstyle';
    src: url('../assets/fonts/SteepOldStyle/SteepOldstyle.woff2') format('woff2'),
        url('../assets/fonts/SteepOldStyle/SteepOldstyle.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



