@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'SteepOldstyle';
    src: url('../assets/fonts/SteepOldStyle/SteepOldstyle.woff2') format('woff2'),
        url('../assets/fonts/SteepOldStyle/SteepOldstyle.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Heptal Book";
    src: url("../assets/fonts/Heptal/Heptal.eot");
    src: url("../assets/fonts/Heptal/Heptal.eot?#iefix")format("embedded-opentype"),
    url("../assets/fonts/Heptal/Heptal.woff2")format("woff2"),
    url("../assets/fonts/Heptal/Heptal.woff")format("woff"),
    url("../assets/fonts/Heptal/Heptal.ttf")format("truetype"),
    url("../assets/fonts/Heptal/Heptal.svg#Heptal Book")format("svg");
}




