$layout-padding-lg: 4rem;
$layout-padding-md: 2rem;
$layout-padding-sm: 1rem;

$break-large: 1440px;
$break-medium: 900px;
$break-small: 640px;
.layout-margin {
    margin: $layout-padding-sm;
    @media (min-width: $break-medium) {
        margin: $layout-padding-md;
    }
    @media (min-width: $break-large) {
        margin: $layout-padding-lg;
    }
}
.layout-padding-inline {
    padding-inline: $layout-padding-sm;
    @media (min-width: $break-medium) {
        padding-inline: $layout-padding-md;
    }
    @media (min-width: $break-large) {
        padding-inline: $layout-padding-lg;
    }
}
.layout-padding-inline-xl {
    padding-inline: $layout-padding-sm;
    @media (min-width: $break-medium) {
        padding-inline: $layout-padding-md * 2;
    }
    @media (min-width: $break-large) {
        padding-inline: $layout-padding-lg * 3;
    }
}
.layout-padding-block {
    padding-block: $layout-padding-md;
    @media (min-width: $break-medium) {
        padding-block: $layout-padding-lg;
    }
}