.logo {
	display: flex;
	flex-direction: column;
	gap: 0;

	span {
		font-family: 'SteepOldstyle';
		font-weight: 400;
		font-style: normal;
		text-transform: uppercase;
		letter-spacing: -1px;
		line-height: .75;

		@media (max-width: 600px) {
			font-size: 30px;
		}
		&:nth-child(2) {
			padding-inline-start: 1.75rem;
		}
	}

    &.small {
        font-size: 1.25rem;
    }
    &.large {
        font-size: $text-large;

        @media (max-width: 700px) {
            font-size: $text-medium;
        }
    }
}