.square {
  text-align: center;
  color: #333;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  min-width: 100px;
  width: fit-content;
  height: fit-content;
  .logo {
    cursor: pointer;
    max-height: 100px;
    position: absolute;
    top: -3px;
    bottom: 0;
    left: 0;
    margin: auto auto;
    z-index: 99;
    transition: filter 0.4s linear;
    -webkit-transition: -webkit-filter 0.4s linear;
    filter: saturate(150%);
    &:hover {
      -webkit-filter: saturate(300%);
      filter: saturate(300%);
    }
    &.shake {
      animation: shake 7s infinite;
      -webkit-animation: shake 7s infinite;
    }

    @media (max-width: 650px) {
      max-width: 75px;
    }
  }

  @media (max-width: 650px) {
    min-width: 75px;
  }
}
