.square {
  text-align: center;
  color: #333;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  min-width: 100px;
  width: fit-content;
  height: fit-content;
  z-index: 555;
}
