.page-header {
    padding-top: $layout-padding-md;
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-inline: $layout-padding-sm + 1.5rem;
    padding-inline-end: 0;
    @media (min-width: $break-medium) {
        padding-top: $layout-padding-md;
        padding-inline: $layout-padding-md;
    }
    @media (min-width: $break-large) {
        padding-inline: $layout-padding-lg;
    }
    .page-title {
        letter-spacing: -2px;
        text-transform: uppercase;
        position: relative;
        flex-grow: 1;
        margin-inline-start: auto;
        // word-wrap: normal;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to left, rgba(255, 255, 255, 0), $c-text);
            border-radius: 20px;
        }
    }
    .logo {
        display: none;
    }
    @media (min-width: $break-medium) {
        .logo {
            display: flex;
        }
        .page-title {
            max-width: 50vw;
        }
    }
}