.clouds {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  filter: brightness(90%);

  .cloud {
    height: 100vh;
    transition: height 2s ease;
    width: 8000px;
    left: -2000px;
    position: absolute;
    bottom: 0;
  }

  &.in-view {
    .cloud {
      height: 60vh;
    }
  }

  &.inverse {
    position: absolute;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);

    .cloud {
      pointer-events: none;
      height: 100vh;

      &.cloud-1 {
        background-size: unset;
      }

      & .cloud-2 {
        background-size: contain;
      }
    }

    &.in-view {
      .cloud {
        height: 60vh;
      }
    }
  }

  .cloud-1 {
    background: url('https://image.ibb.co/nOkuLv/clouds1.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: drift 100s linear infinite;
    -webkit-animation: drift 125s linear infinite;
    z-index: 3;
    background-size: contain;
  }

  .cloud-2 {
    background: url('https://image.ibb.co/fQKbYF/clouds2.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: drift 135s linear infinite;
    -webkit-animation: drift 170s linear infinite;
    z-index: 2;
    background-size: contain;
  }

  .cloud-3 {
    background: url('https://image.ibb.co/jnTELv/clouds3.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: drift 200s linear infinite;
    -webkit-animation: drift 200s linear infinite;
    background: transparent;
    margin-top: -1px;
    z-index: 1;
  }
}
