.clouds {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  &.inverse {
    filter: brightness(90%);
    opacity: 0.1;
    z-index: 99;
    position: absolute;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);

    .cloud {
      pointer-events: none;
      top: -100vh;
    }
  }

  .cloud {
    height: 70vh;
    width: 8000px;
    left: -2000px;
    position: absolute;

    @media (max-width: 400px) {
      height: 100vh;
        }
  }

  .cloud-1 {
    background: url("https://image.ibb.co/nOkuLv/clouds1.png");
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: drift 100s linear infinite;
    -webkit-animation: drift 125s linear infinite;
    z-index: 3;
  }

  .cloud-2 {
    background: url("https://image.ibb.co/fQKbYF/clouds2.png");
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: drift 135s linear infinite;
    -webkit-animation: drift 170s linear infinite;
    z-index: 2;
  }

  .cloud-3 {
    background: url("https://image.ibb.co/jnTELv/clouds3.png");
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: drift 200s linear infinite;
    -webkit-animation: drift 200s linear infinite;
    background: linear-gradient(to right, #aedfff 31%, rgb(255, 234, 0) 85%);
    margin-top: -1px;
    z-index: 1;
  }
}
