.page {
  -ms-transform: -ms-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s, height 0.3s, width 0.3s, position 0.3s ease,
    filter 0.3s ease, opacity 0.3s ease, background-position 0.3s ease;
  height: 100vh;
  width: 100vw;
  .content {
    &.hide {
      display: none;
    }
  }
  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
  }
  .header {
    font-size: 21pt;
    letter-spacing: 0.2em;
    position: absolute;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 1;

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  &.landing {
    background: linear-gradient(to right, #00223a 31%, rgb(0, 10, 56) 70%);

  }

  &.technology {
    background-position: 0 200px;
    background: linear-gradient(to right, #02101b 31%, rgb(1, 16, 29) 70%);
    animation: backgroundPositionFade 2s forwards;
    .circle {
      position: absolute;
      height: 100%;
      width: 100%;
      // background: #83b5ff;
      clip-path: circle(9.2% at -10% 110%);
      transition: clip-path 1s ease-in-out;
      z-index: -1;
      &.expand {
        clip-path: circle(100% at 50%);
        transition-delay: 1.15s;
      }
    }

    .container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-template-rows: (repeat(2, minmax(100px, 1fr)));
      z-index: 999;
      height: 100%;
      width: 100%;
      place-content: center;
      padding: 5rem;
      gap: 1rem;
      @media (max-width: 700px) {
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(100px, 1fr));
      }
    }
  }

  &.resume {
    z-index: -2;
    .circle {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgb(122, 51, 46);
      clip-path: circle(30% at -10% 110%);
      transition: clip-path 1s ease-in-out;
      z-index: -1;
      &.expand {
        clip-path: circle(100% at 50%);
        transition-delay: 1.15s;
      }
    }
  }
}
