.projects-list {
    align-self: flex-end;
    transition: opacity 0.2s;
    flex-grow: 1;
    > li:not(:last-child) {
        margin-bottom: 1rem;
    }
    li {
        transition: opacity 0.2s;
    }
    li:hover {
        transition: opacity 0.2s;
        color: $c-text;
        opacity: 1;
    }
    @media (min-width: $break-medium) {
        height: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin-inline-start: auto;
        flex-grow: 0;
        flex-basis: calc(50% + $layout-padding-md);
    }
}
.projects-list:hover li:not(:hover) {
    transition: opacity 0.2s;
    color: $c-text;
    opacity: 0.5;
}