.light-dark-buttons {
    font-size: $text-xsmall;
    letter-spacing: 1px;
    font-family: $font-family-sans;
    .light-btn,
    .dark-btn {
        all: unset;
        text-transform: uppercase;
        padding-inline: 0.25rem;
        opacity: 0.7;
        &.active {
            opacity: 1;
        }
    }
    span {
    }
}